{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Tags List
    <a href="{% url 'task:tag-create' %}" class="btn btn-primary link-to-page">
      Create Tag
    </a>
  </h1>
  <form action="" method="get" class="form-inline">
    {{ search_form|crispy }}
    <input class="btn btn-secondary" type="submit" value="Search">
  </form>

  {% if tag_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

      {% for tag in tag_list %}
        <tr>
          <td>{{ tag.id }}</td>
          <td>{{ tag.name }}
          </td>
          <td>
            <a href="{% url 'task:tag-update' pk=tag.id %}">
              Update
            </a>
          </td>
          <td>
            <a style="color: red"
               href="{% url 'task:tag-delete' pk=tag.id %}">
              Delete
            </a>
          </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
    <p>There are no tags</p>
  {% endif %}
{% endblock %}
